/*定义公共样式*/
@font-face {/*fontinSansCR常规*/
  font-family: DIGITAL-Regular;
  src: url('../asserts/fonts/DIGITAL-Regular.ttf') format("truetype");
  font-weight: normal;
}
/*清除浮动*/
.cf:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.cf{
  zoom: 1;/*为解决IE6，IE7的兼容性问题*/
}





*{
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
body{
  height: 100%;
  font-family: "微软雅黑", sans-serif;
}
#content{
  display: flex;
  height:100%;
  background-color: rgba(174, 174, 174, 0.39);
  font-size: 0;
  -webkit-text-size-adjust:none;
  background: url("../img/bg_star.png");
}
#content>div{
  position: relative;
  font-size: 10px;
  display: inline-block;
  outline: 1px dashed #ccc;
  outline-offset: -1px;
}
#left{
  flex: 3;
  /*width:360em;*/
  background-color: rgba(205, 92, 92, 0.29);
}
#middle{
  flex: 1;
  /*width:120em;*/
  background-color: rgba(143, 188, 143, 0.29);
}
#right{
  flex: 3;
  /*width:360em;*/
  background-color: rgba(135, 206, 235, 0.28);
}
