.active{
    border: 1px solid pink;
}
.box{
    width: 100%;
    background-color: pink;
    display: none;
}
.selected{
    display: block;
}
.tab ul li{
    display: inline-block;
    padding: 0.5em;
}
.tatal_state .datas_show ul li{
    width: 2em;
    height: 1em;
    background-color: lightblue;
    display: inline-block;
    margin-right: 0.5em;
}
.tatal_state .datas_rate ul li{
    width: 4em;
    height: 2em;
    background-color: lightsalmon;
    display: inline-block;
    margin-right: 0.5em;
}
.tatal_state .echarts_box ul li{
    width: 6em;
    height: 5em;
    background-color: lightgreen;
    display: inline-block;
    margin-right: 0.5em;
}